params {
    outdir          = "results"
    samplesheet     = null
    bed             = null    // optional BED for region filtering
    regulatory_bed  = null    // BED of regulatory regions (promoters, enhancers, etc.)
    vep_cache       = null    // path to VEP cache directory
}

trace {
    enabled    = true
    file       = "${params.outdir}/pipeline_info/trace_${new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')}.tsv"
    fields     = 'task_id,name,status,exit,realtime,%cpu,peak_rss,peak_vmem,rchar,wchar'
    overwrite  = true
}

includeConfig 'conf/outputs.config'
includeConfig 'conf/resource.config'